alembic==0.9.9
click==8.0.3
Flask==2.0.2
Flask-Migrate==2.1.1
Flask-SQLAlchemy==2.5.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
# MarkupSafe==1.0
PyMySQL==0.8.1
python-dateutil==2.7.3
python-dotenv==0.19.2
python-editor==1.0.3
six==1.11.0
SQLAlchemy==1.4.31
Werkzeug==2.0.2
Flask-WTF==1.0.0
WTForms~=3.0.1
WTForms-Alchemy==0.18.0
json-fix==0.1.3